$main-color: #757575;
$second-color: #212121;
$add-text-color: #ffffff;

$accent-color: #2196f3;

$main-background-color: #ffffff;
$second-background-color: #2f303a;
$add-background-color: #f5f4fa;
$hero-bg-color: #c4c4cc;

$icon-color: #afb1b8;

$ffamily: Roboto, sans-serif;
$main-fweight: 400;
$main-fsize: 14px;
$main-lheight: 1.71;

$add-fweight: 700;

$button-fsize: 16px;
$button-lheight: 1.87;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;
